<%- include ('partials/header'); %>
  <h1>Posts</h1>

  <% for (var i = 0, l = posts.length; i < l; i++) { %>
    <article>
      <h3><%= posts[i].title %></h3>
      <p><%= posts[i].body %></p>
    </article>
  <% } %>

<%- include ('partials/footer'); %>
